/* Minification failed. Returning unminified contents.
(687,18): run-time error CSS1036: Expected expression, found ';'
 */
/**************************************************
说明：
1：我们建议你通过只改变css的方式来制作新的皮肤模板。当然，页面的部分代
码你也是可以更改的，例如一些图片的地址。但是，请你在递交作品的时候，请同时
提交对页面部分代码的修改备注和说明。以便我们了解。
2：为了保证页面的兼容性，请你分别在IE和Firefox中分别查看你的页面，以便保证页面
对浏览器的兼容性。
3：请你随时关注官方网站。以便获得最新的通知和说明
时间：2008-1-30
作者：杨正祎
**************************************************/

/**************************************************
第一部分：所有的模板都使用的公共样式。公告样式是为了更好的向前和向后兼容。
如果不符合你皮肤的要求，你可以在后面通过更好的优先级覆盖着这些样式，但是
你不能删除这些样式。
**************************************************/
#EntryTag {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

.topicListFooter {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

#divRefreshComments {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}
/*****第一部分结束*******************************/

/**************************************************
第二部：公共样式（全局样式）。公共会对所有页面的标签都起作用。这个部分你
可以随意的更改，并不会牵扯到其他的皮肤模板。但是每次更改都要注意你的皮肤
模板所有页面的变化。因为它们是全局的。
**************************************************/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #000;
    background: #FFF;
    font-family: "verdana","ms song","宋体","Arial","微软雅黑", "Helvetica", "sans-serif";
    font-size: 9pt;
    min-height: 101%;
    background: #FFFEF7 url('/Skins/fighting/images/bg_body.gif') repeat-y top center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

ul {
    word-break: break-all;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #FF6600;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: none;
}

.clear {
    clear: both;
}
/*****第二部分结束*******************************/

/**************************************************
第三部分：各个页面元素的样式。你可以根据需要随意的更改，并不会牵扯到其他
的皮肤模板。这个部分是最能展现你想象力的部分。其中头部和侧边栏部分是此皮
肤公共的部分。而每个页面特有的部分会有相应的注释和说明。
**************************************************/
/*****home和头部开始**************************/
#home {
    margin: 0 auto;
    width: 960px;
    text-align: left;
    background: url('/Skins/fighting/images/bg_header.gif') no-repeat top center;
    padding-top: 15px;
}

#header {
    height: 120px;
    width: 960px;
    margin: auto;
    text-align: center;
    background: url('/Skins/fighting/images/fighting.jpg') no-repeat top center;
    position: relative;
}

#blogTitle {
    height: 40px;
    width: 850px;
    margin: 0 auto;
    clear: both;
    background: transparent url('/Skins/fighting/images/mask_head.gif') no-repeat top center;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

    #blogTitle h1 {
        width: 90%;
        font: bold 28px/1.5em "黑体","verdana";
        margin: 0 auto;
        padding-top: 45px;
        text-align: center;
    }

    #blogTitle h2 {
        width: 90%;
        line-height: 1.5em;
        margin: 0 auto;
        color: black;
        text-align: center;
    }

    #blogTitle a {
        color: black;
    }

/*
#header {
	background-images:url('/Skins/fighting/images/banner.gif');
}

#blogTitle h1,#blogTitle h2{
	text-align:left;	
}
*/
#blogLogo {
    float: right;
}

#navigator {
    height: 60px;
    clear: both;
    width: 880px;
    margin: 0 auto;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 20px;
}

#navList {
    height: 60px;
    line-height: 60px;
    min-height: 25px;
    float: left;
}

    #navList li {
        float: left;
    }

    #navList a {
        text-align: center;
        padding-right: 10px;
    }

        #navList a:link, #navList a:visited, #navList a:active {
            color: black;
        }

        #navList a:hover {
            color: black;
            text-decoration: underline;
        }

a.aHeaderXML {
    width: 18px;
    height: 9px;
    background: transparent url('/Skins/fighting/images/rss.gif') no-repeat center center;
    display: none;
}

    a.aHeaderXML img {
        display: none;
    }

.blogStats {
    float: right;
    color: #999999;
    text-align: right;
    height: 60px;
    line-height: 60px;
}
/*****home和头部结束**************************/

/*****主页文章列表开始**************************/
#topicList {
    width: 630px;
    min-height: 200px;
    margin: 10px 0 10px 40px;
    float: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    display: inline;
}

.day {
    min-height: 10px;
    _height: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.dayTitle {
    width: 630px;
    min-height: 24px;
    height: 24px;
    font-size: 12px;
    color: black;
    padding-left: 5px;
}

    .dayTitle a:link, .dayTitle a:visited, .dayTitle a:active {
        color: black;
    }

.postTitle {
    font-weight: bold;
    min-height: 24px;
    line-height: 1.8;
    background: #DBDBDB;
    padding-left: 5px;
    font-size: 14px;
}

    .postTitle a:link, .postTitle a:visited, .postTitle a:active {
        color: black;
    }

    .postTitle a:hover {
        color: #F60;
        text-decoration: none;
    }

.postCon {
    line-height: 1.5em;
    width: 630px;
    padding: 10px 0;
    font-size: 14px;
}

.postDesc {
    float: right;
    width: 500px;
    text-align: right;
    padding-right: 5px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 20px;
}

    .postDesc a:link, .postDesc a:visited, .postDesc a:active {
        color: #816D65;
    }

    .postDesc a:hover {
        color: #FF6600;
        text-decoration: underline;
    }

.postSeparator {
    clear: both;
    height: 20px;
    margin: 0 auto 15px auto;
    border-bottom: 1px dashed #666666;
}
/*****主页文章列表开始**************************/

/*****侧边栏开始********************************/
#sideBar {
    width: 230px;
    min-height: 200px;
    margin: 10px 40px 5px 0;
    float: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    display: inline;
}

.newsItem .catListTitle {
    display: none;
}

.newsItem {
    padding: 0 0 5px 0px;
    margin-bottom: 8px;
    line-height: 170%;
}

#calendar {
    width: 229px;
}

    #calendar .Cal {
        width: 100%;
        line-height: 1.5em;
    }

    #calendar td, #calendar th {
        font-size: 12px;
    }

.Cal {
    border: 0px solid black;
    color: #816D65;
}

.CalTitle {
    background: white;
    color: #838383;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 100%;
}

.CalDayHeader {
    background: url('/Skins/fighting/images/bg_cal_day.gif') 50% 0 no-repeat;
    color: white;
    padding-bottom: 5px;
}

.CalNextPrev a:link, .CalNextPrev a:visited, .CalNextPrev a:active {
    font-weight: bold;
    background-color: white;
}

.CalNextPrev a:hover {
    font-weight: bold;
    background-color: #82CEEB;
    color: white;
}

#calendar table a:link, #calendar table a:visited, #calendar table a:active {
    font-weight: bold;
    color: #74584B;
}

#calendar table a:hover {
    color: white;
    text-decoration: none;
    background-color: #FF9900;
}

#calendar td, #calendar th {
    line-height: 2em;
}

.CalWeekendDay {
    background: #E7E7DC;
}

.CalTodayDay {
    background: url('/Skins/fighting/images/bg_cal_today.gif') 50% 0 no-repeat;
    color: white;
}

.catListTitle {
    min-height: 24px;
    *height: 24px;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #DBDBDB;
    padding-left: 10px;
    color: black;
    font-size: 12px;
}

#leftcontentcontainer li {
    font-size: 12px;
    line-height: 1.8em;
    margin: 0 auto;
}

#leftcontentcontainer a {
    color: #333333;
}

.catListComment {
    line-height: 1.5em;
}

.divRecentComment {
    color: #666;
}

#sideBarMain ul {
    line-height: 1.5em;
}
/*****侧边栏结束********************************/


/****查看文章页面开始*************************/
#topics {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    margin-top: 20px;
}

    #topics .postTitle {
        font-size: 14px;
        font-weight: bold;
        float: left;
        padding-left: 5px;
        margin-bottom: 10px;
        text-align: left;
    }

a.postTitle2 {
    color: black;
}

    a.postTitle2:hover {
        color: #FF3333;
    }

.postBody {
    padding: 5px 5px 5px 5px;
    line-height: 1.5;
    color: #000;
    font-size: 14px;
    width: 98%;
    overflow: hidden;
}

    .postBody a:link, .postBody a:active, .postBody a:visited {
        color: black;
        text-decoration: underline;
    }

    .postBody a:hover {
        color: #FF3333;
    }

#EntryTag {
    font-size: 9pt;
    color: #666;
}

    #EntryTag a {
        margin-left: 5px;
    }

        #EntryTag a:link, #EntryTag a:visited, #EntryTag a:active {
            color: #666;
        }

        #EntryTag a:hover {
            color: #f60;
        }

#topics .postDesc {
    float: right;
    width: 100%;
    text-align: right;
    padding-right: 5px;
    color: #666;
    margin-top: 5px;
}

.feedback_area_title {
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding-left: 8px;
    font-size: 14px;
}

.feedbackListSubtitle {
    color: #666;
}

    .feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active {
        color: #37B1DF;
        font-weight: normal;
    }

    .feedbackListSubtitle a:hover {
        color: #FF3333;
        text-decoration: none;
    }

.feedbackManage {
    width: 200px;
    text-align: right;
    float: right;
}

    .feedbackManage a:link, .feedbackManage a:visited, .feedbackManage a:active {
        color: #333333;
    }

.feedbackCon {
    border-bottom: 1px solid #ccc;
    background: url('/Skins/fighting/images/comment.gif') no-repeat 5px 0px;
    padding: 15px 18px 10px 40px;
    min-height: 35px;
    _height: 35px;
    margin-bottom: 1em;
    line-height: 1.5em;
    width: 93%;
}

#divRefreshComments {
    text-align: right;
    margin-bottom: 10px;
}

.commenttb {
    width: 320px;
}

#AjaxHolder_PostComment_divCommnentArea td {
    font-size: 12px;
    padding: 3px;
}

#AjaxHolder_PostComment_divCommnentArea a:link, #AjaxHolder_PostComment_divCommnentArea a:visited, #AjaxHolder_PostComment_divCommnentArea a:active {
    color: #816D65;
}
/****查看文章页面开始*************************/

/****列表页面开始******************************/
.entrylistTitle {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: left;
    padding-bottom: 3px;
    padding-right: 10px;
}

.entrylistDescription {
    color: #666;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.entrylistItem {
    min-height: 20px;
    _height: 20px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    width: 100%;
}

.entrylistPosttitle {
    font-size: 11pt;
    font-weight: bold;
    border-bottom: 1px dashed #816D65;
    line-height: 1.5em;
    width: 100%;
    padding-left: 5px;
}

    .entrylistPosttitle a:hover {
        text-decoration: none;
    }

.entrylistPostSummary {
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 150%;
}

.entrylistItemPostDesc {
    text-align: right;
    color: #666;
}

    .entrylistItemPostDesc a:link, .entrylistItemPostDesc a:visited, .entrylistItemPostDesc a:active {
        color: #666;
    }

    .entrylistItemPostDesc a:hover {
        color: #f60;
    }

.entrylist .postSeparator {
    clear: both;
    width: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    height: 0;
    border: none;
}

.PostListTitle {
    font-size: 11pt;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 10px;
}

h1.PostListTitle {
    text-align: left;
    font-size: 18px;
}

.pager {
    text-align: right;
    margin-right: 10px;
}

.PostList {
    border-bottom: 1px solid #ccc;
    clear: both;
    min-height: 1.5em;
    _height: 1.5em;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.postTitl2 {
    float: left;
    font-size: 14px;
    line-height: 150%;
}

.postDesc2 {
    color: #666;
    float: right;
    margin-right:;
}

.postText2 {
    clear: both;
    color: #666;
    line-height: 150%;
}

#profile a, #profile a:link, #profile a:active, #profile a:visited {
    color: #816D65;
}

.pfl_feedback_area_title {
    text-align: right;
    line-height: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.pfl_feedbackItem {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.pfl_feedbacksubtitle {
    width: 100%;
    border-bottom: 1px dotted #666;
    height: 1.5em;
    font-size: 14px;
}

.pfl_feedbackname {
    float: left;
}

.pfl_feedbackManage {
    float: right;
}

.pfl_feedbackCon {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 150%;
}

.pfl_feedbackAnswer {
    color: #816D65;
    line-height: 150%;
    margin-bottom: 10px;
}

.tdSentMessage {
    text-align: right;
}

.errorMessage {
    width: 300px;
    float: left;
}

.input_my_zzk {
    width: 140px;
}
/****列表页面结束******************************/

/****相册页面开始******************************/
.divPhoto {
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 10px;
}

.thumbTitle {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: left;
    padding-bottom: 3px;
    padding-right: 10px;
}

.thumbDescription {
    color: #666;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}
/****相册页面开始******************************/


/*****留言页面开始*****************************/
#footer {
    text-align: center;
    width: 446px;
    height: 41px;
    line-height: 41px;
    background: url('/Skins/fighting/images/bg_foot.gif') no-repeat center center;
}
/*留言查看页面的个人信息*/
.personInfo {
    margin-bottom: 20px;
}
/*留言分页区域*/
.pages {
    text-align: right;
}
/*****留言页面结束*****************************/
/*****第三部分结束*******************************/

/**************************************************
第四部分：文章内容常用标签格式。这个部分是设置作者写作内容的部分。例如：
如果作者的文章用有p标签，则可通过这个对这些文章中的p标签进行设置。前面
的“.postBody”明确的指出了这里样式的作用范围。仅仅适用于文章主体部分。
建议这个不要设置过于详细的细节。因为，一些样式，一篇文章比较适合的话，
并不能保证所有的文章都适合。
**************************************************/
/*文章内部常用标签格式*/
.postBody {
    line-height: 1.5em;
}

    .postBody p, .postCon p {
        margin: 0 auto 1em auto;
    }

    .postBody h2 {
        font-size: 150%;
        margin: 15px auto 2px auto;
        font-weight: bold;
    }

    .postBody h3 {
        font-size: 120%;
        margin: 15px auto 2px auto;
        font-weight: bold;
    }

    .postBody h4 {
        font-size: 110%;
        margin: 15px auto 2px auto;
        font-weight: bold;
        color: #333;
    }

    .postBody h5 {
        font-size: 100%;
        margin: 15px auto 2px auto;
        font-weight: bold;
        color: #333;
    }

    .postBody a:link, .postBody a:visited, .postBody a:active {
        text-decoration: underline;
    }

.postCon a:link, .postCon a:visited, .postCon a:active {
    text-decoration: underline;
}

.postBody ul, .postCon ul {
    margin-left: 2em;
}

.postBody li, .postCon li {
    list-style-type: disc;
    margin-bottom: 1em;
}

.postBody blockquote {
    background: url('/Skins/fighting/images/comment.gif') no-repeat 25px 0px;
    padding: 10px 60px 5px 60px;
    min-height: 35px;
    _height: 35px;
    line-height: 1.6em;
    color: #333;
}
/*****第四部分结束*******************************/

#myposts {
    margin-top: 10px;
}

    #myposts .PostList {
        line-height: 2;
    }

@media only screen and (max-width: 767px) {
    #home,
    #header,
    #blogTitle,
    #navigator,
    #topicList,
    .dayTitle,
    .postCon,
    .postDesc,
    #sideBar,
    .feedbackManage,
    #footer {
        width: auto;
    }

    #home {
        padding: 15px 10px;
    }

    #header {
        background: url(/Skins/fighting/images/fighting.jpg) no-repeat top left;
        margin: 0 -5px;
      
    }
    
    #sideBar {
            float: none;
        }

    #calendar {
        width: 300px;
    }

    #topicList {
        float: none;
    }

    #navigator{
        margin: 0 5px;
    }
}
